* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cart-box {
  width: 800px;
  height: 500px;
  border: 1px solid red;
  margin: 0 auto;
}

.cart-box ul {
  width: 100%;
  height: 50px;
  background: #ccc;
}

.cart-box ul li {
  float: left;
  width: 110px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  padding: 2px;
}

.cart-box .cart-main {
  width: 100%;
}

.cart-box .cart-main .cart-list {
  background: pink;
  width: 100%;
}

.cart-box .cart-main .cart-list img {
  width: 114px;
  height: 54px;
}

.cart-box .cart-main .cart-list input {
  width: 15px;
  height: 15px;
}
