.box-list {
  display: flex;
  flex-wrap: wrap;
}

.box-list .item {
  width: 200px;
  margin: 7px;
  padding: 10px;
  height: 300px;
  border: 3px solid transparent;
  transition: all .3s;
  position: relative;
  margin: 0 auto;
}

.box-list .item:hover {
  border-color: #dfdfdf;
}

.box-list .item img {
  width: 200px;
  height: 200px;
}

.box-list .item .price {
  color: #f21c1c;
  font-weight: 1000;
  font-size: 14px;
}

.box-list .item .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.box-list .item .dis {
  color: #9c9c9c;
}

#page {
  text-align: center;
}

#page a {
  border: 1px solid red;
  border-radius: 50%;
}
